aniso8601==4.0.1
Click==7.0
configparser==3.5.0
enum34==1.1.6
Flask==1.0.2
flask-restplus==0.12.1
functools32==3.2.3.post2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
ldap==1.0.2
ldap3==2.5.1
MarkupSafe==1.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
python-ldap==3.1.0
pytz==2018.5
six==1.11.0
Werkzeug==0.14.1
